# /
/.gdb_history
/config.cache
/configarg.cache
/config.status
/wx-config
/config.log
/stamp-h.in
/Makefile
/setup.h
/*tags
/autom4te.cache

# /build/

# /build/autoconf_prepend-include/autoconf/
/build/autoconf_prepend-include/autoconf/autoconf.m4f

# /build/bakefiles/
/build/bakefiles/.bakefile_gen.state
/build/bakefiles/Bakefiles.local.bkgen
/build/bakefiles/wxwin.pyc
/build/bakefiles/wxpresets/presets/wx_presets.pyc

#/vs/
.vs

#/Debug/
Debug

# /include/
include

# /lib/
lib

*.vcxproj.user